/*
 Theme Name:   Nord Theme Child
 Theme URI:    http://themeforest.net/user/nordstudio
 Description:  Nord Child Theme
 Author:       Nord Studio
 Author URI:   http://themeforest.net/user/nordstudio
 Template:     nord-theme
 Version:      1.0
 License:      
 License URI:  http://themeforest.net/licenses
 Tags:         black, white, dark, one-column, right-sidebar, fixed-layout, responsive-layout, flexible-header, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging
 Text Domain:  nord-theme-child
*/

@import url("../nord-theme/style.css");